<h1>All Products</h1>


<!-- File is an HTML file but the lines we write here is in ruby tags -->
<!-- Loop our @product varible, defined in out products_controller, displaying each ones name -->
<% @products.each do |product| %>
  <div class="product">
    <h3><%= product.name %></h3>
    <p><%= product.price_format %></p>
  </div>
<% end %>
